* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace; /* Monospace font for terminal look */

}

:root {
    --container-padding: 10px;
}

/* Keyframes for the up-and-down animation */
@keyframes moveUpDown {
    0% {
        transform: translateY(0); /* Starting position */
    }
    50% {
        transform: translateY(-10px); /* Move up */
    }
    100% {
        transform: translateY(0); /* Back to starting position */
    }
}


.hidden {
    display: none !important;
}

/*Start of gui layout*/

.gui-container {
    padding: var(--container-padding);
    background-color: rgb(0,0,0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    color: black;
    opacity: 0.8;

    

    width: 75vw;
    height: 75vh;  

    border-radius: 10px;
    
}

.gui-container > div ,
.gui-container > div > div {

}

/* (Main/Attack/Switch/Item) State
/*_____Layer 1_________*/
.poke-layer {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
   height: 100%;
   position: relative;
   z-index: 1;
}
/*
https://www.w3schools.com/css/css_positioning.asp
*/
.top-row,
.bot-row {
    position: relative;
    height: 100%; 
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: #6e6e6e;
}

.status-pl {
    right: 0;
    bottom: 50%;
}

.top-row {
    grid-row: 1;
}

.bot-row {
    grid-row: 2;
    
}

.op-image-box,
.pl-image-box {
    position: absolute;
    width: auto;
    height: auto;
    animation: moveUpDown 1s ease-in-out infinite; /* Animation properties */

}

.op-image-box {
    top: 30%;
    right: 10%;
    animation-delay: 0s;
}

#op-pk {
    width: 200%;
    height: auto;
}


.pl-image-box {
    bottom: 15%;
    left: 0%;
    
    animation-delay: 0.13s;
}
#pl-pk {
    width: 300%;
    height: auto;
}


/*
The idea is that the gui consist of multiple layers
0 is background image
1 is the ground ( that circle over with the pokemons hover
2 is the pokemon sprite
4 is the menu-interaction-message section
*/

/*_____Layer2 _________*/

/* manually set container padding because due to position: absolute
its parents containers padding is not respected */
.info-layer {
    background-color: aliceblue;
    flex: 1;
    position: absolute;
    z-index: 2;
    height: 25%;
    bottom: var(--container-padding);
    left: var(--container-padding);
    right: var(--container-padding);

    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* main */
.round-msg {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1.5em;

}

.choice-buttons {
    grid-column: 2;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    border-left: 5px solid black;
    font-size: 1.5em;
    height: 100%;
}
.choice-buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
        
}

.choice-buttons  div:hover {
    transform: scala(1.1);
}

.attack-btn {
    border-right: 2.5px;
    border-bottom: 2.5px; 
    transition: transform 0.3s ease;
}
.switch-btn {
    border-right:2.5px;
    transition: transform 0.3s ease;
}

.items-btn {
    border-bottom:2.5px;
    transition: transform 0.3s ease;
}

.run-btn {
    border-bottom:2.5px;
    transition: transform 0.3s ease;
}

.attack-btn:hover,
.switch-btn:hover,
.items-btn:hover,
.run-btn:hover {
    transform: scale(1.1);
}





/*Attack/Item/Switch back button */
.back-btn {
    height:100%;
    width: 100%;
    background-color: brown;

}

/*Switch State spec */

.switch-box, 
.item-box {
    position: absolute;
    background-color: aliceblue;
    height: 300%;
    width: 50%;
    right: 0px;
    bottom: 0px;
    
}


/*Attack State spec */

.move-box {
    grid-column: 1;
    padding: 5px;
    font-size: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr
    
}

.move {
    height: 25%;
    padding: 5px;
    padding-left: 10px;
    transition: transform 0.3s ease;
    transform-origin: center;
}


.move-info {
    grid-column: 2;
    border-left: 5px solid black;
    display:grid;
    grid-template-columns: 0.75fr  0.25fr;
}

.moveDescription {
    grid-column: 1;
    
}

.move-info-box-btn-box {
    grid-column: 2;
    width: 100%;
    height: 100%;
}


.move:hover {
    transform: scale(1.1);
}

