
@main("WebGui") {


    <div class="gui-container">

        
        <div class="poke-layer">

            <div class="top-row">
                <div class="op-image-box">
                    <img class="pk-sprite" id="op-pk" src="https://img.pokemondb.net/sprites/silver/normal/weezing.png" alt="Weezing">
                </div>
            </div>

            <div class="bot-row">
                <div class="pl-image-box">
                    <img class="pk-sprite" id="pl-pk" src="https://img.pokemondb.net/sprites/silver/normal/weezing.png" alt="Weezing">
                </div>
            </div>

        </div>

        <div class="info-layer">
            <div class="round-msg">What Will you do</div>
            <div class="choice-buttons">
                <div class="attack-btn">Attack</div>
                <div>Items</div>
                <div>Switch</div>
                <div>Run</div>
            </div>
        </div>


        
    </div>

    <div class="attack-list hidden">
        <p>Attack1</p>
        <p>Attack1</p>
        <p>Attack1</p>
        <p>Attack1</p>
        <button type="button" class="btn">Back</button>
    </div>
}