@()

@main("Welcome to PokeWeb") {
  <div class="index-container">
    <h1>Welcome to Pokeweb</h1>
    <section>
      <h2>Introduction to Pokémon Battles</h2>
      <p>
          In a Pokémon battle, two trainers pit their Pokémon against each other to see who comes out victorious. The battle is a turn-based system where each Pokémon can use moves, items, or switch with another Pokémon to defeat the opponent.
      </p>
  

<footer>
  Pokémon Battle Guide - Learn the Rules, Master the Game!
</footer>

    
  </div>
}
